@page "/features"

<ul>
    <li>Feature 1: Description of feature 1</li>
    <li>Feature 2: Description of feature 2</li>
    <li>Feature 3: Description of feature 3</li>
    </ul>
@code {
    // Add any C# code here if needed
}
@* This is a simple Razor component that lists features of the application. *@